<!DOCTYPE HTML>
<!--
tinypng
-->
<html>

<head>
    <title>
        Code Book
    </title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->

    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/main.css" />
    <!-- <script src="https://kit.fontawesome.com/85999f6d09.js" crossorigin="anonymous"></script> -->

</head>

<body class="">
    <!-- Nav tabs -->
    
    <%- include('./partials/nav.ejs') %>
    
    <section>
        <h1 class="p-4 text-dark bg-white h1">
            <div class="row">
                <div class="col-md-10 mx-md-auto">
                    <%= Problem.Name%>
                </div>
            </div>
        </h1>
        <div class="row">
            <div class="p-4 bg-white m-4 col-md-10 mx-md-auto">
                <div class="p-3 mb-2">
                    <h2 class="h2">Description</h2>
                    <p class="text-muted">
                        <%= Problem.statement %>
                    </p>
                </div>
                <div class="p-3 mb-2">
                    <h2 class="h2">Input Format </h2>
                    <p class="text-muted">
                        <%= Problem.Input_Format %>
                    </p>
                </div>
                <div class="p-3 mb-2">
                    <h2 class="h2">Output Format </h2>
                    <p class="text-muted">
                        <%= Problem.Output_Format %>
                    </p>
                </div>
                <div class="p-3 mb-2">
                    <h2 class="h2">Sample Input</h2>
                    <p class="p-3 bg-light border rounded">
                        <%= Problem.Sample_Input %>
                    </p>
                </div>
                <div class="p-3 mb-2">
                    <h2 class="h2">Sample Output</h2>
                    <p class="p-3 bg-light border rounded">
                        <%= Problem.Sample_Output %>
                    </p>
                </div>

                <div class="p-3 mb-2">
                    <h2 class="h2">Input</h2>
                    <p class="p-3 bg-light border rounded">
                        <%= Problem.Input %>
                    </p>
                </div>

            </div>
        </div>
        <div class="row bg-white p-4">
            <div class="col-md-10 mx-md-auto">
                <form action="/problems/<%= Problem.ID %> " method = "POST" id = "submission">
                    <div class="form-group">
                        <label form = "submission" for="output" class="h2">Output</label>
                        <textarea form = "submission" class="form-control bg-light" id="output" name = "output" rows="3"></textarea>
                    </div>
                    <div form = "submission" type = "submit" class="form-group">
                        <button class="btn btn-outline-success btn-lg px-5 d-block mx-auto">
                            Submit Output
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </section>

    <!-- Scripts -->

    <%- include('./partials/Scripts.ejs') %>

    <script>


    </script>
</body>

</html>